* {
   margin: 0;
   padding: 0;
}

html { font-size: 62.5%; }

body {
   font: 145%/1.5 Georgia, Cambria, "Times New Roman", Times, Serif;
   color: #222;
   background: #f6f6f6 url( ../images/stripe.gif ) repeat;
}

a {
   color: #3366BB;
   border-bottom: 1px solid;
   text-decoration: none;
}

a:hover {
   border-bottom: none;
}

p {
   padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
   font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Verdana, Sans-Serif;
   letter-spacing: -2px;
   font-weight: normal;
   line-height: 1;
   margin: 10px 0;
   padding-bottom: 5px;
   border-bottom: 1px solid #ccc;
}

h1 { font-size: 200%; }
h2 { font-size: 180%; }
h3 { font-size: 160%; }
h4 { font-size: 140%; }
h5 { font-size: 130%; }
h6 { font-size: 120%; }

ul, ol {
   padding-bottom: 20px;
   margin-left: 30px;
}

table {
   width: 99%;
   margin: 0 auto;
   margin-bottom: 15px;
   border-collapse: collapse;
   border-spacing: 0;
}

tr {
   border-bottom: 1px dotted #ccc;
}

thead {
   font-weight: bold;
   font-size: 16px;
}

.odd {
   background: #f6f6f6;
}

td {
   text-align: center;
   padding: 5px 10px;
}

#wrapper {
   width: 870px;
   margin: 0 auto;
   background: #fff;
   border-left: 1px solid #e7e7e7;
   border-right: 1px solid #e7e7e7;
   padding: 10px 0 0 35px;
}

#content {
   width: 580px;
   float: left;
   min-height: 660px;
}

#sidebar {
   width: 250px;
   float: right;
   margin-top: 100px;
   margin-right: -1px;
}

#sidebar h3 {
   margin-bottom: 0;
}

#sidebar ul, #sidebar ol {
   list-style-type: none;
   margin: 0;
}

#sidebar li {
   border-bottom: 1px solid #e7e7e7;
}

#sidebar a {
   display: block;
   padding: 10px;
   border-bottom: 0;
   background: #f6f6f6 url( ../images/stripe.gif ) repeat;
   border-left: 1px solid #e7e7e7;
}

#sidebar a:hover, #sidebar .curPage {
   background: #fff;
   border-left: 0;
   border-right: 1px solid #e7e7e7;
}

#sidebar a span {
   color: #999;
}

#footer {
   clear: both;
   text-align: center;
   padding-top: 20px;
   font-size: 15px;
}

/* Forms */
form p {
   padding-bottom: 10px;
}

form p {
	padding: 5px 0;
	border-bottom: 1px dotted #eee;
}

form small {
   font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Verdana, Sans-Serif;
   color: #bbb;
   margin-left: 10px;
}

label, input, textarea, select {
   font: 13px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Verdana, Sans-Serif;
}

label {
   display: inline-block;
   width: 120px;
   font-family: Georgia, Cambria, "Times New Roman", Times, Serif;
   font-size: 14px;
   float: left;
   margin-top: 5px;
}

input, textarea, select {
   border: 1px solid #ccc;
   padding: 7px;
   width: 200px;
   height: 16px;
   background: #f6f6f6;
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

.radio-field {
   width: 15px;
   margin-top: 5px;
}

.number-field {
   width: 20px;
}

.checkbox-field {
	width: 15px;
   margin-top: 5px;
}

.ampm {
   width: 60px;
}

textarea {
   width: 360px;
   height: 160px;
   line-height: 1.5;
}

select, .submit-field  {
   height: 33px;
   width: 215px;
}

.submit-field {
   width: auto;
   padding: 0 15px;
   margin: 5px 0 0 120px;
   background: #333;
   color: #fff;
}

input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus, .submit-field {
   border-color: #aaa;
   box-shadow: 0px 0px 10px #aaa;
   -moz-box-shadow: 0px 0px 5px #aaa;
   -webkit-box-shadow: 0px 0px 5px #aaa;
}

.submit-field, .submit-field:hover, .submit-field:focus {
   border-color: #2a2a2a;
}

.submit-field:focus {
   color: #000;
}

input:focus, textarea:focus {
   background: #fff;
}

.success, .error, .info {
   padding: 10px 20px 8px 20px;
   margin-bottom: 10px;
}

.success-container, .error-container, .info-container {
   padding: 15px 20px 0 20px;
}

.error {
   color: #D8000C;
   background-color: #FFBABA;
}

.success {
   color: #4F8A10;
   background-color: #DFF2BF;
}

.info {
   color: #00529B;
   background-color: #BDE5F8;
}

/* Miscellaneous Styles */
.none { display: none; }

